{% extends 'admin/master.html' %}

{% block body %}
<h1 class="text-center text-info">THỐNG KÊ BÁO CÁO</h1>
<form id="dateForm1" action="/admin/statsview">
    <div style="height: 500px">
        <h2 class="text-info">THỐNG KÊ DOANH THU THEO THÁNG</h2>

        <label for="monthPrice">Chọn tháng:</label>
        <input type="number" id="monthPrice" name="monthPrice" min="1" max="12" value={{monthPrice}}>

        <label for="yearPrice">Chọn năm:</label>
        <input type="number" id="yearPrice" name="yearPrice" min="2000" max="2099" value={{yearPrice}}>

        <button type="submit">Thống kê</button>
        <div class="row">
            <div class="col-md-5 col-xs-12">
                <table class="table">
                    <tr>
                        <th>STT</th>
                        <th>Loại phòng</th>
                        <th>Doanh Thu</th>
                        <th>Số lượt thuê</th>
                        <th>Tỉ lệ</th>
                    </tr>
                    {% for s in roomStats['RoomStats'] %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{s['Kind Room']}}</td>
                        <td>{{s['Revenue']}}</td>
                        <td>{{s['Booking Count']}}</td>
                        <td>{{s['Percentage']}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4">Tổng doanh thu: {{roomStats['TotalRevenue']}} VNĐ</th>
                    </tr>
                </table>
            </div>
            <div class="col-md-7 col-xs-12">
                <canvas id="myChartPrice"></canvas>
            </div>
        </div>
    </div>

    <div style="height: 500px">
        <h2 class="text-info">THỐNG KÊ MẬT ĐỘ SỬ DỤNG PHÒNG</h2>
        <label for="monthUseRoom">Chọn tháng:</label>
        <input type="number" id="monthUseRoom" name="monthUseRoom" min="1" max="12" value={{monthRoom}}>

        <label for="yearUseRoom">Chọn năm:</label>
        <input type="number" id="yearUseRoom" name="yearUseRoom" min="2000" max="2099" value={{yearRoom}}>

        <button type="submit">Thống kê</button>
        <div class="row">
            <div class="col-md-5 col-xs-12">
                <table class="table">
                    <tr>
                        <th>STT</th>
                        <th>Phòng</th>
                        <th>Số ngày thuê</th>
                        <th>Tỉ lệ</th>
                    </tr>
                    {% for s in roomOccupancyDensity %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{s['Room Name']}}</td>
                        <td>{{s['Total Days Booked']}}</td>
                        <td>{{s['Percentage']}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-7 col-xs-12">
                <canvas id="myChartRoom"></canvas>
            </div>
        </div>
    </div>

</form>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

function getRandomColor() {
    var letters = '0123456789ABCDEF';
    var color = '#';
    for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}

  let dataPrice=[];
  let labelPrice=[];


  {% for s in roomStats['RoomStats'] %}
  dataPrice.push({{s['Revenue']}})
  labelPrice.push('{{s['Room Name']}}')
  {% endfor %}


  let dataRoom=[];
  let labelRoom=[];


  {% for s in roomOccupancyDensity %}
  dataRoom.push({{s['Percentage']}})
  labelRoom.push('{{s['Room Name']}}')
  {% endfor %}

  window.onload = function() {
    const ctx1 = document.getElementById('myChartPrice');

    new Chart(ctx1, {
      type: 'bar',
      data: {
        labels: labelPrice,
        datasets: [{
          label: 'VNĐ',
          data: dataPrice,
          borderWidth: 1,
          backgroundColor: [
            getRandomColor(),
            getRandomColor(),
            getRandomColor(),
            getRandomColor(),
            getRandomColor()
        ],
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

     const ctx2 = document.getElementById('myChartRoom');

     new Chart(ctx2, {
      type: 'pie',
      data: {
        labels: labelRoom,
        datasets: [{
          label: '%',
          data: dataRoom,
          borderWidth: 1,
          backgroundColor: [
            getRandomColor(),
            getRandomColor(),
            getRandomColor(),
            getRandomColor(),
            getRandomColor()
        ],
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

  }










</script>

{% endblock %}
