.list__rooms{
    list-style: none;
    padding: 20;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.room__item{
    width:100px;
    height:100px;
}

